:root {
    --first: #c284c2;
    --stripone: #dc47d0;
    --striptwo: #e55c6f;
    --stripthree: #90fc61;
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#54ba67 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */
