:root {
    --first: #999999;
    --stripone: #6d36b0;
    --striptwo: #cb836c;
    --stripthree: #4fd87d;
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#54ba67 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */
