:root {
    --first: #d591ce;
    --stripone: #54377E;
    --striptwo: #F6726A;
    --stripthree: #E8706E;
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#54ba67 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */
