:root {
    --first: #feccd5;
    --stripone: #70829e;
    --striptwo: #8c6a7c;
    --stripthree: #4df37e;
}


/* #fbe00a → Bright Yellow
#ff6269 → Salmon Pink
#2995ff → Vivid Blue
#d591ce → Soft Lavender
#54ba67 → Medium Green
#a6a6a6 → Neutral Gray

#ffd1db → Pastel Pink */
